# Node.js
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*
*.out
*.out.*

# Dependency directories
jspm_packages/

# Environment variables
.env
.env.*.local

# Mac files
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage
coverage/

# Parcel cache
.cache/

# Storybook files
.storybook-out/
storybook-static/

# SvelteKit
.svelte-kit/

# Dist directory
#dist/

# Build directory
build/

# Webpack cache
.cache/
.webpack/

# Babel cache
.babel_cache/

# TypeScript
*.tsbuildinfo

# React Native
.expo/
.expo-shared/

# Other
.temp/
out/
public/

.git/
.gitignore
Dockerfile
DockerfileDev
README.md
compose.yml
docker-compose-dev.yml